@tailwind base;
@tailwind components;
@tailwind utilities;

/* important for custom date-picker */
.rdp-vhidden {
  @apply hidden;
}

@layer base {
  :root {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(63.723% 0.24829 28.13);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(63.723% 0.24829 28.13);
  }
}
